<div class="container">
    <form id="form">
        <div class="mb-3">
            <label for="category" class="form-label">Category Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}">
        </div>
        <div class="btn">
            <button type="button" class="btn btn-warning" id="edit">Edit Category</button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("form").serialize();
        $("#edit").on("click", function () {
            $.ajax({
                url: `/categories/{{user._id}}`,
                type: "put",
                async: false,
                data: {
                    "name": $("#name").val()
                },
                success: function (response) {
                    if (response.type == 'success') {
                        console.log(response)
                        alert(response.data);
                        location.href = '/categories/list'
                    } else {
                        console.log(response);
                        alert(response.data)
                    }
                },
                error: function () {
                    console.log("error");
                }
            })
        });
    });
</script>